.number {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
    appearance: none;

    button {
        padding: 6px 12px;
        border-radius: 5px;
    }
}

.dot {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    justify-content: space-between;

    button {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
    }
}
