.header {
    width: 100%;
    background-color: rgb(58, 59, 59);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    background-color: aliceblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.menu {
    width: 100%;
}

.list {
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
        position: relative;

        a,
        span {
            cursor: pointer;
            display: block;
            padding: 0.5rem 1rem;
            color: white;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        &:hover > ul {
            opacity: 1;
            visibility: visible;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            padding: 0.5rem 1rem;
            position: absolute;
            background: rgb(58, 59, 59);
            opacity: 0;
            visibility: hidden;
            border-radius: 10px;
            transition: opacity 0.5s ease;
        }

        // Перший рівень меню розміщую знизу
        .depth-0 > ul {
            top: 100%;
            left: 0;
        }
        // Всі наступні підменю зправа
        .depth-1 > ul,
        .depth-2 > ul {
            top: 0;
            left: 100%;
        }
    }

    // Два останні підменю розміщую зліва щоб не виходили за екран
    > li:nth-last-child(1),
    > li:nth-last-child(2) {
        .depth-1 > ul {
            left: auto;
            right: 100%;
        }
    }
}
